.footer {
    display: grid;
    grid-template-columns: 3fr 1.2fr 1.2fr 1.2fr;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}

.footer p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
}

.footer li {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-top: 1.1rem;
    list-style-type: none;
}

.footer_logo {
    width: 20%;
    height: 25%;
}

.social_icon {
    width: 3.6rem;
    height: 3.6rem;
    /* box-shadow: 20px 20px 50px grey; */
    stroke: rgb(255, 255, 255);
    stroke-width: 0;
}

.social_logos {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
}

.footer .copyright_text {
    filter: grayscale(60%);
    filter: gray;
    opacity: 0.7;
}

.link_footer {
    color: black;
}

.link_footer:hover {
    color: #F53838;
}

.footer_links_first {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 550px) {
    .footer {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .social_logos {
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
}